#game{
    background-color: rgb(224, 196, 109) !important;
    margin-top: 10vh;
    box-shadow: 5px 7px 5px rgb(154, 166, 158);
    border-radius: 15px;
    padding: 0px;
    color: white;
}


#r0, #r1, #r2{
    margin: 0px;
}
#board{
    background: rgba(40,40,40,1)
      -webkit-radial-gradient(center, rgba(40,80,60,1), rgba(0,20,20,.6)) !important;
    background: rgba(40,40,40,1)
      -moz-radial-gradient(center, rgba(40,80,60,1), rgba(0,20,20,.6)) !important;
    background: rgba(40,40,40,1)
      -ms-radial-gradient(center, rgba(40,80,60,1), rgba(0,20,20,.6)) !important;
    background: rgba(40,40,40,1)
      radial-gradient(center, rgba(40,80,60,1), rgba(0,20,20,.6)) !important;
    background-size: cover;
}

.endgame {
  display: none;
  width: 200px;
  top: 120px;
  background-color: rgba(205,133,63, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em;
}